.review .date {
     display: inline-block;
     margin: 10px;
 }

span.bold{
    font-weight: bold;
}
.review{
    max-width: 900px;
    margin: 0 auto;
}

.review .text {
    white-space: pre-wrap;
}